{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "http://web.qualityautomacao.com.br",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/INTEGRACAO/V1/ABASTECIMENTOS": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarAbastecimento",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra por empresa/filial. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra por empresa/filial. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS"
            }
          },
          {
            "name": "tipoData",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "EMISSAO",
                "ENTRADA"
              ]
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoAbastecimentoRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista os abastecimentos registrados no sistema (dataInicial, dataFinal, tipoData (EMISSAO=Data de Emissão, ENTRADA=Data de Entrada)).\n                            Use quando o usuário perguntar: listar todos os abastecimentos, quais abastecimentos foram feitos hoje,\n                            quais abastecimentos foram registrados entre as datas X e Y, abastecimentos por data de entrada,\n                            abastecimentos por data de emissão, quero ver os abastecimentos do último mês.\n                            Liste também se o abastecimento teve aferição ou não. O campo afericao (indica se o abastecimento foi realizado com aferição) vem no retorno da API.\n                            "
        }
      }
    },
    "/INTEGRACAO/V1/ABASTECIMENTOS_ENCERRANTE": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "abastecimentoEncerrante",
        "parameters": [
          {
            "name": "encerrante",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbastecimentoEncerrante"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/ADIANTAMENTOS_FORNECEDORES": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarAdiantamentoFornecedor",
        "parameters": [
          {
            "name": "fornecedorCodigo",
            "in": "query",
            "description": "Filtra pelo código do fornecedor. Conecta com o campo 'fornecedorCodigo' do endpoint FORNECEDOR",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo código do fornecedor. Conecta com o campo 'fornecedorCodigo' do endpoint FORNECEDOR"
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra pelo codigo da filial/empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo codigo da filial/empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS"
            }
          },
          {
            "name": "tipoAdiantamento",
            "in": "query",
            "description": "Filtra pelo tipo de adiantamento",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra pelo tipo de adiantamento",
              "pattern": "[CD]"
            }
          },
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Filtra pela data inicial",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data inicial"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Filtra pela data final",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data final"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Cursor de paginação: último código retornado na página anterior",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Cursor de paginação: último código retornado na página anterior"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoIntegracaoAdiantamento"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                        Lista os adiantamentos realizados para fornecedores (fornecedorCodigo, empresaCodigo, tipoAdiantamento (C=Crédito, D=Débito),\n                        dataInicial, dataFinal).\n                        Use quando o usuário perguntar: adiantamentos feitos para fornecedores, adiantamentos de crédito, adiantamentos de débito,\n                        adiantamentos entre as datas X e Y, adiantamentos para o fornecedor Y, adiantamentos de uma filial X.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/ADMINISTRADORAS": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarAdministradora",
        "parameters": [
          {
            "name": "administradoraCodigo",
            "in": "query",
            "description": "Filtra pelo codigo da administradora",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo codigo da administradora"
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra por empresa/filial. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra por empresa/filial. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS"
            }
          },
          {
            "name": "administradoraCodigoExterno",
            "in": "query",
            "description": "Filtra pelo código externo da administradora fornecido pela adquirente",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra pelo código externo da administradora fornecido pela adquirente"
            }
          },
          {
            "name": "ativo",
            "in": "query",
            "description": "Filtra administradoras ativas (true) ou inativas (false)",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra administradoras ativas (true) ou inativas (false)"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoAdministradoraRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                       Busca informações sobre administradoras, gestoras de EDI, quais administradoras estão sem EDI preenchido (administradoraProdutoEdi, gestoraCodigo, administradoraEdi )\n                       permitindo filtrar por código interno, código externo, empresa (empresaCodigo) e status de ativação (ativo). Use quando o usuário perguntar: listar administradoras cadastradas,\n                       quais administradoras estão ativas, buscar administradoras por código externo, qual a administradora da empresa X, administradoras de meio de pagamento.\n                      "
        }
      }
    },
    "/INTEGRACAO/V1/ALTERACOES_PRECO_COMBUSTIVEL": {
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "alterarPrecoCombustivel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TrocaPreco"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/INTEGRACAO/APRIX_CUSTO": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "aprixCusto",
        "parameters": [
          {
            "name": "DATA_INICIAL",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "DATA_FINAL",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/APRIX_MOVIMENTO": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "aprixMovimento",
        "parameters": [
          {
            "name": "DATA_INICIAL",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "DATA_FINAL",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/APRIX_PRECO_CLIENTE": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "aprixPrecoCliente",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/ARQUIVOS/{id}": {
      "delete": {
        "tags": [
          "Integrações"
        ],
        "operationId": "excluirArquivoFechamentoCaixa",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/INTEGRACAO/V1/ARQUIVOS/{tipoOrigem}/{origem}": {
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "incluirArquivoFechamentoCaixa",
        "parameters": [
          {
            "name": "tipoOrigem",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NAO_INFORMADO",
                "TITULO_PAGAR",
                "CONTRATO_CLIENTE",
                "CONTRATO_CLIENTE_FILIAL",
                "MDFE_AUTORIZADA",
                "MDFE_CANCELADA",
                "MDFE_ENCERRADA",
                "NFE_SAIDA_AUTORIZADA",
                "NFE_SAIDA_CANCELADA",
                "NFE_SAIDA_DENEGADA",
                "NFE_SAIDA_INUTILIZADA",
                "NFE_ENTRADA",
                "NFCE_AUTORIZADA",
                "NFCE_CANCELADA",
                "NFCE_DENEGADA",
                "SAT_AUTORIZADO",
                "SAT_CANCELADO",
                "NFCE_INUTILIZADA",
                "FUNCIONARIO",
                "BOLETO",
                "ECF_ARQUIVO",
                "CTE_AUTORIZADO",
                "CTE_CANCELADO",
                "CTE_INUTILIZADO",
                "TITULO_RECEBER_ASSINADO",
                "NF_SERVICO_AUTORIZADA",
                "NF_SERVICO_CANCELADA",
                "MOVIMENTO_CONTA_TRANSFERENCIA",
                "MOVIMENTO_CONTA_MANUAL",
                "WEBPOSTO_PROMO",
                "CASHBACK_CAMPANHA",
                "CASHBACK_PREMIO",
                "CLIENTE",
                "FORNECEDOR",
                "CASHBACK_PARCEIRO",
                "CASHBACK_PARCEIRO_SERVICO",
                "IMAGEM_PDV",
                "NFE_SAIDA_CANCELADA_EVENTO",
                "SPED_CONTRIBUICOES",
                "SPED_FISCAL",
                "TRR_FOTO",
                "TRR_ASSINATURA",
                "NFE_MANIFESTACAO_IMPORTADA",
                "IMAGEM_AUTO_ATENDIMENTO",
                "NOTA_ENTRADA_ANEXO",
                "PEDIDO_COMPRA",
                "NOTA_SERVICO",
                "TITULO_RECEBER_ASSINATURA",
                "DOCUMENTO_WHATSAPP",
                "DESPESA_FECHAMENTO_CAIXA",
                "PRE_PAGO",
                "ETIQUETA_CLIENTE",
                "TITULO_RECEBER_MANUAL",
                "REAJUSTE",
                "FECHAMENTO_CAIXA_APRESENTADO",
                "CTE_MANIFESTACAO_IMPORTADA",
                "PRE_PAGO_ASSINADO",
                "PRE_PAGO_ASSINATURA",
                "ADIANTAMENTO",
                "IMAGEM_TELA_ESPELHO",
                "TITULO_RECEBER_FOTO",
                "ATALHO_ICONE"
              ]
            }
          },
          {
            "name": "origem",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncluirArquivoFechamentoCaixaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/AUTORIZAR_NFES_SAIDA/{notaCodigo}": {
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "autorizarNfe",
        "parameters": [
          {
            "name": "notaCodigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/INTEGRACAO/V1/AUTORIZA_PAGAMENTO_ABASTECIMENTOS": {
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "autorizaPagamentoAbastecimento",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutorizaPagamentoAbastecimento"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/INTEGRACAO/V1/BICOS": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarBico",
        "parameters": [
          {
            "name": "bicoCodigo",
            "in": "query",
            "description": "Filtra pelo código do bico",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo código do bico"
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra pelo código da filial/empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo código da filial/empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoBicoRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista os bicos de combustível (bicoCodigo, empresaCodigo). Use quando o usuário perguntar: quais são os bicos da\n                            empresa de código X, liste todos os bicos, qual o bico de código Y, bicos específicos da filial X.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/BOMBAS": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarBomba",
        "parameters": [
          {
            "name": "bombaCodigo",
            "in": "query",
            "description": "Filtra pelo codigo da bomba",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo codigo da bomba"
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra o código da filial/empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra o código da filial/empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoBombaRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista as bombas de combustível cadastradas ou informações específicas sobre uma bomba (informando o bombaCodigo ou empresaCodigo).\n                            Use quando o usuário perguntar: informações das bombas de combustível, listar todas as bombas de uma empresa, dados de uma bomba\n                            específica, quais bombas estão ativas, mostrar as bombas.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/BRINDES": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "brindes",
        "parameters": [
          {
            "name": "brindeCodigo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoBrindesRede"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "incluirBrinde",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegracaoBrinde"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/CAIXAS": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarCaixa",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Filtra pela data inicial do período",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data inicial do período"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Filtra pela data final do período",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data final do período"
            }
          },
          {
            "name": "turno",
            "in": "query",
            "description": "Filtra pelo turno",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo turno"
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra pelo código da filial/empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo código da filial/empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS"
            }
          },
          {
            "name": "individual",
            "in": "query",
            "description": "Filtra se o caixa é individual",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra se o caixa é individual"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Cursor de paginação: último código retornado na página anterior",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Cursor de paginação: último código retornado na página anterior"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          },
          {
            "name": "dataHoraAtualizacao",
            "in": "query",
            "description": "Filtra só registros atualizados após esta data/hora",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filtra só registros atualizados após esta data/hora"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoCaixaRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                        Lista os fechamentos de caixa registrados (dataInicial, dataFinal, turno, empresaCodigo). Use quando o usuário\n                        perguntar: resumo de caixa do dia, fechamentos de caixa de uma filial, fechamentos de caixa entre datas, caixa por\n                        turno, fechamento de caixa por empresa.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/CAIXAS_APRESENTADO": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarCaixaApresentado",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Filtra pela data inicial do período",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data inicial do período"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Filtra pela data final do período",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data final do período"
            }
          },
          {
            "name": "dataHoraAtualizacao",
            "in": "query",
            "description": "Filtra pela data e hora da ultima atualização",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filtra pela data e hora da ultima atualização"
            }
          },
          {
            "name": "tipoData",
            "in": "query",
            "description": "Filtra pelo tipo de data",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra pelo tipo de data",
              "enum": [
                "EMISSAO",
                "ENTRADA"
              ]
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoCaixaApresentadoRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista os registros de caixa apresentado (dataInicial, dataFinal, tipoData (EMISSAO, ENTRADA)). Use quando o\n                            usuário perguntar: caixa apresentado por data, caixa apresentado por tipo de data, registros de caixa\n                            apresentado entre datas X e Y, quais são os caixas apresentados, caixa apresentado por data de emissao.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/CARTOES": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarCartao",
        "parameters": [
          {
            "name": "turno",
            "in": "query",
            "description": "Filtra pelo turno do PDV",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo turno do PDV"
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra por empresa/filial. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra por empresa/filial. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS"
            }
          },
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Filtra a data inicial do período",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra a data inicial do período"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Filtra a data final do período",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra a data final do período"
            }
          },
          {
            "name": "apenasPendente",
            "in": "query",
            "description": "Se true, retorna apenas registros pendentes",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Se true, retorna apenas registros pendentes"
            }
          },
          {
            "name": "dataFiltro",
            "in": "query",
            "description": "Tipo de data utilizada no filtro (ex: MOVIMENTO, VENCIMENTO, etc).",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tipo de data utilizada no filtro (ex: MOVIMENTO, VENCIMENTO, etc).",
              "enum": [
                "MOVIMENTO",
                "VENCIMENTO",
                "PAGAMENTO"
              ]
            }
          },
          {
            "name": "dataHoraAtualizacao",
            "in": "query",
            "description": "Filtra por data/hora da última atualização (OffsetDateTime)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filtra por data/hora da última atualização (OffsetDateTime)"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código para paginação. Usado para paginação incremental",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código para paginação. Usado para paginação incremental"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade máxima de registros a serem retornados (limite)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Quantidade máxima de registros a serem retornados (limite)",
              "maximum": 2000
            }
          },
          {
            "name": "vendaCodigo",
            "in": "query",
            "description": "Filtra por lista de ids de venda. Conecta com o campo 'vendaCodigo' do endpoint VENDA",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Filtra por lista de ids de venda. Conecta com o campo 'vendaCodigo' do endpoint VENDA",
              "items": {
                "type": "integer",
                "format": "int32",
                "description": "Filtra por lista de ids de venda. Conecta com o campo 'vendaCodigo' do endpoint VENDA"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoCartaoRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista os registros de cartões (turno, empresaCodigo, dataInicial, dataFinal, apenasPendente (true=Sim, false=Não),\n                            dataFiltro (MOVIMENTO, VENCIMENTO, PAGAMENTO)). Use quando o usuário perguntar: cartões processados em um turno,\n                            status de pagamentos de cartão, verificar se há cartões pendentes, movimentos de cartão por data, cartões processados por filial.\n                        "
        }
      },
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "incluirCartao",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncluirAlterarCartaoDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/CARTOES/{id}": {
      "delete": {
        "tags": [
          "Integrações"
        ],
        "operationId": "excluirCartao",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Integrações"
        ],
        "operationId": "alterarCartao",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncluirAlterarCartaoDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/INTEGRACAO/V1/CARTOES_CLUBGAS": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarCartoesClubgas",
        "parameters": [
          {
            "name": "nomeTabela",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClubGas"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/CARTOES_COMPRA": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarChequePagar_1",
        "parameters": [
          {
            "name": "cartaoCompraCodigo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoIntegracaoCartaoCompra"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/CARTOES_EDI_ARQUIVO_WEBPOSTO": {
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "incluirCartaoEdiLayoutWebPosto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/CARTOES_PAGAR": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarCartaoPagar",
        "parameters": [
          {
            "name": "empresaCodigo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataInicial",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "tipoData",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "[MPV]"
            }
          },
          {
            "name": "cartaoCompraCodigo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "situacao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "[NS]"
            }
          },
          {
            "name": "autorizacao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoIntegracaoCartaoPagar"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/CARTOES_REMESSA": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarCartaoRemessa",
        "parameters": [
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra por empresa/filial",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Filtra por empresa/filial",
              "items": {
                "type": "integer",
                "format": "int32",
                "description": "Filtra por empresa/filial"
              }
            }
          },
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Filtra a data inicial do período",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra a data inicial do período"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Filtra a data final do período",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra a data final do período"
            }
          },
          {
            "name": "vendaCodigo",
            "in": "query",
            "description": "Filtra pelo código da venda",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo código da venda"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código para paginação (cursor). Usado para paginação incremental",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código para paginação (cursor). Usado para paginação incremental"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade máxima de registros a serem retornados (limite)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Quantidade máxima de registros a serem retornados (limite)",
              "maximum": 2000
            }
          },
          {
            "name": "quitado",
            "in": "query",
            "description": "Filtra se foi quitado",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra se foi quitado"
            }
          },
          {
            "name": "dataHoraAtualizacao",
            "in": "query",
            "description": "Filtra a data e hora da atualização",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filtra a data e hora da atualização"
            }
          },
          {
            "name": "origem",
            "in": "query",
            "description": "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            ",
            "required": false,
            "schema": {
              "type": "string",
              "description": "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            ",
              "enum": [
                "C",
                "D",
                "V"
              ],
              "pattern": "[CDV]"
            }
          },
          {
            "name": "cartaoRemessaCodigo",
            "in": "query",
            "description": "Filtra o código de remessa do cartão",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra o código de remessa do cartão"
            }
          },
          {
            "name": "dataFiltro",
            "in": "query",
            "description": "Filtra o tipo de remessa",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra o tipo de remessa",
              "enum": [
                "REMESSA",
                "PAGAMENTO",
                "RECEBIMENTO"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoCartaoRemessa"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista as remessas de cartão (empresaCodigo, dataInicial, dataFinal, quitado, origem (C=Sobra de Caixa, D=Falta de Caixa, V=Vale),\n                             dataFiltro (REMESSA, PAGAMENTO, RECEBIMENTO)). Use quando o usuário perguntar: remessas de cartão por empresa,\n                             remessas quitadas e não quitadas, total de remessas entre datas, remessas de sobra ou falta de caixa,\n                             remessas por data de pagamento ou recebimento.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/CENTROS_CUSTO": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarCentroCusto",
        "parameters": [
          {
            "name": "centroCustoCodigoExterno",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoCentroCustoRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                        Lista os centros de custo cadastrados (centroCustoCodigoExterno, ultimoCodigo, limite).\n                        Use quando o usuário perguntar: exibir lista de centros de custo, quais são os centros de custo,\n                        listar centros de custo, dados dos centros de custo, despesas por centro de custo.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/CHEQUES": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarCheque",
        "parameters": [
          {
            "name": "turno",
            "in": "query",
            "description": "Filtra por turno",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra por turno"
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra pelo codigo da empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo codigo da empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS"
            }
          },
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Filtra pela data inicial do período",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data inicial do período"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Filtra pela data final do período",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data final do período"
            }
          },
          {
            "name": "apenasPendente",
            "in": "query",
            "description": "Filtra apenas títulos pendentes de recebimento",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra apenas títulos pendentes de recebimento"
            }
          },
          {
            "name": "dataFiltro",
            "in": "query",
            "description": "Filtra pelo tipo de data para filtro (MOVIMENTO, PAGAMENTO ou VENCIMENTO)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra pelo tipo de data para filtro (MOVIMENTO, PAGAMENTO ou VENCIMENTO)",
              "enum": [
                "MOVIMENTO",
                "VENCIMENTO",
                "PAGAMENTO"
              ]
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          },
          {
            "name": "dataHoraAtualizacao",
            "in": "query",
            "description": "Filtra pela data e hora da atualização",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filtra pela data e hora da atualização"
            }
          },
          {
            "name": "vendaCodigo",
            "in": "query",
            "description": "Filtra por uma lista a partir do código da venda",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Filtra por uma lista a partir do código da venda",
              "items": {
                "type": "integer",
                "format": "int32",
                "description": "Filtra por uma lista a partir do código da venda"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoChequeRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista os cheques registrados (empresaCodigo, dataInicial, dataFinal, turno, apenasPendente (true=pendente, false=todos),\n                            dataFiltro (MOVIMENTO=data do movimento, VENCIMENTO=data de vencimento, PAGAMENTO=data de pagamento)).\n                            Use quando o usuário perguntar: cheques pendentes da rede, cheques por período e empresa, cheques de hoje,\n                            cheques por turno, consultar cheques de venda específica.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/CHEQUES_PAGAR": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarChequePagar",
        "parameters": [
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra pelo codigo da empresa",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo codigo da empresa"
            }
          },
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Filtra pela data inicial",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data inicial"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Filtra pela data final",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data final"
            }
          },
          {
            "name": "tipoData",
            "in": "query",
            "description": "Filtra pelo tipo de data",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra pelo tipo de data",
              "pattern": "[BMP]"
            }
          },
          {
            "name": "situacao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "[NS]"
            }
          },
          {
            "name": "chequeTroco",
            "in": "query",
            "description": "Filtra se o cheque foi do tipo cheque troco",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra se o cheque foi do tipo cheque troco"
            }
          },
          {
            "name": "chequeCodigo",
            "in": "query",
            "description": "Filtra pelo codigo do cheque",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo codigo do cheque"
            }
          },
          {
            "name": "contaCodigo",
            "in": "query",
            "description": "Filtra pelo codigo da conta",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo codigo da conta"
            }
          },
          {
            "name": "caixaCodigo",
            "in": "query",
            "description": "Filtra pelo codigo do caixa",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo codigo do caixa"
            }
          },
          {
            "name": "tipoInclusao",
            "in": "query",
            "description": "Filtra pelo tipo de inclusão",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra pelo tipo de inclusão",
              "pattern": "[CMT]"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Cursor de paginação: último código retornado na página anterior",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Cursor de paginação: último código retornado na página anterior"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoIntegracaoChequePagar"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista os cheques a pagar registrados (empresaCodigo, dataInicial, dataFinal, tipoData (P=Pagamento, E=Emissão, V=Vencimento),\n                            situacao (A=Aberto, B=Baixado, C=Cancelado, T=Todos), chequeTroco). Use quando o usuário perguntar: listar cheques a pagar,\n                            cheques com vencimento nesta semana, cheques recebidos, checar status de um cheque, cheques a pagar de determinada empresa.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/CLIENTES": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarCliente",
        "parameters": [
          {
            "name": "clienteCodigoExterno",
            "in": "query",
            "description": "Filtra pelo codigo externo do cliente, caso o cliente tenha integração",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra pelo codigo externo do cliente, caso o cliente tenha integração"
            }
          },
          {
            "name": "clienteCodigo",
            "in": "query",
            "description": "Filtra o id do cliente",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Filtra o id do cliente",
              "items": {
                "type": "integer",
                "format": "int32",
                "description": "Filtra o id do cliente"
              }
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra o id da filial/empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra o id da filial/empresa. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS."
            }
          },
          {
            "name": "retornaObservacoes",
            "in": "query",
            "description": "Filtra as observacoes dentro do cadastro do cliente",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra as observacoes dentro do cadastro do cliente"
            }
          },
          {
            "name": "dataHoraAtualizacao",
            "in": "query",
            "description": "Filtra pela data e hora da atualização",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filtra pela data e hora da atualização"
            }
          },
          {
            "name": "frota",
            "in": "query",
            "description": "Filtra os clientes que utilizam frota",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra os clientes que utilizam frota"
            }
          },
          {
            "name": "faturamento",
            "in": "query",
            "description": "Filtra os clientes que possuem faturamento",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra os clientes que possuem faturamento"
            }
          },
          {
            "name": "limitesBloqueios",
            "in": "query",
            "description": "Filtra os clientes que possuem bloqueio por limite",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra os clientes que possuem bloqueio por limite"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoClienteRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista as informações de clientes cadastrados (clienteCodigo, empresaCodigo, frota, faturamento).\n                    Use quando o usuário perguntar: informações do cliente X, buscar clientes da empresa Y, clientes com frota,\n                    clientes com faturamento, listar todos os clientes, quais são meus clientes por estado/cidade, qual limite em litros do\n                    cliente X, qual limite em reais do cliente X, quais são os contatos do cliente X, quais são os clientes bloqueados,\n                    quais são os clientes do grupo X.\n                    "
        }
      },
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "incluirCliente",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegracaoClienteCadastro"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoCadastroCliente"
                }
              }
            }
          }
        },
        "x-mcp": {
          "usos": "CHAT_TAREFA",
          "description": "\n                        Cadastra um novo cliente. Obrigatórios: cnpjCpf, razaoSocial, nomeFantasia,\n                        tipoPessoa (F=física, J=jurídica), tipoInscricaoEstadual (1 a 3), exigeCentroCusto,\n                        documentosEmitidos (-1=TODOS, 1=NFE, 2=NFCE), empresaCodigo e o endereço\n                        (enderecoTipoLogradouro, enderecoLogradouro, enderecoNumero, enderecoCidade, enderecoUf).\n                        Opcionais: rg, inscricaoEstadual, enderecoComplemento, enderecoBairro, enderecoCep,\n                        clienteCodigoExterno, clienteSuspenso (exige motivoClienteSuspenso junto),\n                        clienteLimite, valorClienteLimite, grupoCodigo.\n                        Use quando o usuário pedir para cadastrar/incluir um cliente novo.\n                        Esta operação GRAVA no cadastro: confirme com o usuário o CNPJ/CPF, a razão social e\n                        o endereço antes de chamar, e nunca preencha esses campos por suposição.\n                        empresaCodigo é OBRIGATÓRIO: pergunte sempre ao usuário em qual filial o cliente deve\n                        ser cadastrado antes de chamar — nunca decida por conta própria, nunca omita o campo e\n                        nunca assuma a filial do usuário logado sem confirmar com ele.\n                        Quando o usuário informar SÓ o CNPJ, NÃO peça o resto a ele e NÃO diga que faltam\n                        dados: existe a ferramenta 'consultarEmpresaPorCnpj', que devolve a ficha pública da\n                        empresa. Chame-a primeiro e preencha razão social, nome fantasia, tipo de logradouro,\n                        logradouro, número, complemento, bairro, cidade, UF, CEP, inscrição estadual, telefone\n                        e e-mail com o que vier de lá; só pergunte ao usuário o que ela não trouxer.\n                        Ela devolve o NOME da cidade, não o código: use 'consultarCidadesPorUf' para obter o\n                        cidadeCodigo. Para CPF não há consulta pública — aí sim os dados vêm do usuário.\n                        Antes de chamar, confira em CLIENTE se já existe cliente com o mesmo cnpjCpf, para não\n                        duplicar; e resolva o grupo pelo endpoint de grupos de cliente (campo grupoCodigo).\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/CLIENTES/{codigoCliente}/PRAZOS": {
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "incluirClientePrazo",
        "parameters": [
          {
            "name": "codigoCliente",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegracaoListaClientePrazo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/INTEGRACAO/V1/CLIENTES/{id}": {
      "put": {
        "tags": [
          "Integrações"
        ],
        "operationId": "alterarCliente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegracaoClienteCadastro"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/INTEGRACAO/V1/CLIENTES_EMPRESA": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarClienteEmpresa",
        "parameters": [
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoClienteEmpresaRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "Lista os clientes cadastrados em cada empresa. Use quando o usuário perguntar: quais clientes estão cadastrados na\n                            |filial X, listar todos os clientes das minhas unidades, quais os clientes da empresa de código X, onde está cadastrado o\n                            |cliente Y.\n                            |"
        }
      }
    },
    "/INTEGRACAO/V1/CLIENTES_FROTA": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "clienteFrota",
        "parameters": [
          {
            "name": "clienteCodigoExterno",
            "in": "query",
            "description": "Filtra pelo codigo externo do cliente, caso o cliente tenha integração",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra pelo codigo externo do cliente, caso o cliente tenha integração"
            }
          },
          {
            "name": "clienteCodigo",
            "in": "query",
            "description": "Filtra o código do cliente. Conecta com o campo 'clienteCodigo' do endpoint CLIENTE",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Filtra o código do cliente. Conecta com o campo 'clienteCodigo' do endpoint CLIENTE",
              "items": {
                "type": "integer",
                "format": "int32",
                "description": "Filtra o código do cliente. Conecta com o campo 'clienteCodigo' do endpoint CLIENTE"
              }
            }
          },
          {
            "name": "motoristaCodigo",
            "in": "query",
            "description": "Filtra o código do motorista.",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Filtra o código do motorista.",
              "items": {
                "type": "integer",
                "format": "int32",
                "description": "Filtra o código do motorista."
              }
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoClienteFrota"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Listar clientes/frotas cadastrados (clienteCodigo, clienteCodigoExterno, motoristaCodigo).\n                            Use quando o usuário perguntar: listar todos os clientes frota, buscar um cliente frota específico, encontrar\n                            clientes por motorista, quais clientes frota temos cadastrados, obter detalhes de um cliente frota.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/CLIENTES_FROTA_VEICULO/{clienteCodigo}": {
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "incluirClienteFrotaVeiculo",
        "parameters": [
          {
            "name": "clienteCodigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParametrosClienteFrotaVeiculo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/CLIENTES_FROTA_VEICULO/{clienteCodigo}/{clienteVeiculoCodigo}": {
      "put": {
        "tags": [
          "Integrações"
        ],
        "operationId": "alterarClienteFrotaVeiculo",
        "parameters": [
          {
            "name": "clienteCodigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "clienteVeiculoCodigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParametrosClienteFrotaVeiculo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/INTEGRACAO/V1/CLIENTES_UNIDADE_NEGOCIO": {
      "post": {
        "tags": [
          "Integrações"
        ],
        "operationId": "vincularClienteUnidadeNegocio",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VincularClienteUnidadeNegocio"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/INTEGRACAO/V1/CONSUMO_CLIENTES": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consumoCliente",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dataInicial",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoIntegracaoConsumoCliente"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/CONTAGEM_ESTOQUES": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarContagemEstoque",
        "parameters": [
          {
            "name": "dataContagem",
            "in": "query",
            "description": "Filtra pela data da contagem",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data da contagem"
            }
          },
          {
            "name": "contagemReferencia",
            "in": "query",
            "description": "Filtra pelo codigo de referencia da contagem",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo codigo de referencia da contagem"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Cursor de paginação: último código retornado na página anterior",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Cursor de paginação: último código retornado na página anterior"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoContagemEstoqueRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista as contagens de estoque realizadas (dataContagem, contagemReferencia).\n                            Use quando o usuário perguntar: contagens de estoque por data, contagens de estoque por referência,\n                            estoque físico na data X, histórico de inventário do posto.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/CONTAS": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarConta",
        "parameters": [
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra por empresa/filial. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra por empresa/filial. Conecta com o campo 'empresaCodigo' do endpoint EMPRESAS"
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código retornado na consulta anterior. Para paginação de resultados.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código retornado na consulta anterior. Para paginação de resultados."
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoContaRede"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Lista as contas registradas (empresaCodigo).\n                            Use quando o usuário perguntar: listar contas, quais são as contas, contas da empresa X, quais contas existem.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/DESPESAS_FINANCEIRO_REDE": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarDespesaFinanceiroRede",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Filtra pela data inicial",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data inicial"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Filtra pela data final",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data final"
            }
          },
          {
            "name": "apuracaoCaixa",
            "in": "query",
            "description": "Filtra se ira realizar apuração por caixa",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra se ira realizar apuração por caixa"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DespesaFinanceiro"
                  }
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                        Lista as despesas financeiras da rede (dataInicial, dataFinal, apuracaoCaixa). Use quando o usuário perguntar:\n                        quais as despesas da rede, listar despesas financeiras, despesas por tipo de apuração, despesas por período.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/DFE_XMLS": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "dfeXml",
        "parameters": [
          {
            "name": "modeloDocumento",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "numeroDocumento",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "serieDocumento",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/INTEGRACAO/V1/DRES": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarDre",
        "parameters": [
          {
            "name": "apuracaoCaixa",
            "in": "query",
            "description": "Filtra por caixa",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra por caixa"
            }
          },
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Filtra pela data inicial do período",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data inicial do período"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Filtra pela data final do período",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data final do período"
            }
          },
          {
            "name": "cfopOutrasSaidas",
            "in": "query",
            "description": "Filtra por outras saídas por CFOP",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra por outras saídas por CFOP"
            }
          },
          {
            "name": "apurarJurosDescontos",
            "in": "query",
            "description": "Filtra a apuração de juros e descontos",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra a apuração de juros e descontos"
            }
          },
          {
            "name": "filiais",
            "in": "query",
            "description": "Filtra por filiais",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Filtra por filiais",
              "items": {
                "type": "integer",
                "format": "int32",
                "description": "Filtra por filiais"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "centroCustoCodigo",
            "in": "query",
            "description": "Filtra por centros de custo",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Filtra por centros de custo",
              "items": {
                "type": "integer",
                "format": "int32",
                "description": "Filtra por centros de custo"
              }
            }
          },
          {
            "name": "apurarCentroCustoProduto",
            "in": "query",
            "description": "Filtra a apuração de centros de custo por produto",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra a apuração de centros de custo por produto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DRE"
                }
              }
            }
          }
        },
        "x-mcp": {
          "description": "\n                            Recupera os dados da Demonstração do Resultado do Exercício (DRE) para um período específico (dataInicial, dataFinal),\n                            permitindo filtrar por filiais e centros de custo (centroCustoCodigo), oferecendo opções para cálculos específicos\n                            como apuração de caixa (apuracaoCaixa), outras saídas por CFOP (cfopOutrasSaidas) e apuração de juros/descontos\n                            (apurarJurosDescontos). Use quando o usuário perguntar: DRE do mês passado, resultado financeiro por filial,\n                            DRE entre X e Y, apurar resultado com juros e descontos, DRE para centro de custo.\n                        "
        }
      }
    },
    "/INTEGRACAO/V1/DUPLICATAS": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "operationId": "consultarDuplicata",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Filtra pela data inicial do período",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data inicial do período"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Filtra pela data final do período",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Filtra pela data final do período"
            }
          },
          {
            "name": "dataHoraAtualizacao",
            "in": "query",
            "description": "Filtra só registros atualizados após esta data/hora",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filtra só registros atualizados após esta data/hora"
            }
          },
          {
            "name": "apenasPendente",
            "in": "query",
            "description": "Filtra apenas títulos pendentes",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra apenas títulos pendentes"
            }
          },
          {
            "name": "dataFiltro",
            "in": "query",
            "description": "Define o tipo de data para filtro (MOVIMENTO, PAGAMENTO ou VENCIMENTO)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Define o tipo de data para filtro (MOVIMENTO, PAGAMENTO ou VENCIMENTO)",
              "enum": [
                "MOVIMENTO",
                "VENCIMENTO",
                "PAGAMENTO"
              ]
            }
          },
          {
            "name": "ultimoCodigo",
            "in": "query",
            "description": "Último código para paginação incremental",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Último código para paginação incremental"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Limite de retorno de títulos",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Limite de retorno de títulos",
              "maximum": 2000
            }
          },
          {
            "name": "empresaCodigo",
            "in": "query",
            "description": "Filtra pelo código da empresa/filial",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo código da empresa/filial"
            }
          },
          {
            "name": "notaEntradaCodigo",
            "in": "query",
            "description": "Filtra pelo código da nota de entrada. Conecta com o campo 'compraCodigo' do endpoint COMPRA",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo código da nota de entrada. Conecta com o campo 'compraCodigo' do endpoint COMPRA"
            }
          },
          {
            "name": "tituloPagarCodigo",
            "in": "query",
            "description": "Filtra pelo código do título a pagar",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo código do título a pagar"
            }
          },
          {
            "name": "fornecedorCodigo",
            "in": "query",
            "description": "Filtra pelo código do fornecedor. Conecta com o campo 'fornecedorCodigo' do endpoint FORNECEDOR",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Filtra pelo código do fornecedor. Conecta com o campo 'fornecedorCodigo' do endpoint FORNECEDOR"
            }
          },
          {
            "name": "linhaDigitavel",
            "in": "query",
            "description": "Filtra pela linha digitável do boleto",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra pela linha digitável do boleto"
            }
          },
          {
            "name": "autorizado",
            "in": "query",
            "description": "Filtra apenas títulos autorizados",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtra apenas títulos autorizados"
            }
          },
          {
            "name": "tipoLancamento",
            "in": "query",
            "description": "Filtra pelo tipo de lançamento (PROVISAO, QUITACAO, etc)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtra pelo tipo de lançamento (PROVISAO, QUITACAO, etc)",
              "enum": [
                "BOLETO",
                "TRIBUTO",
                "CREDITO_CONTA",
                "TED",
                "DOC",
                "PIX",
                "LANCAMENTO_MANUAL",
                "CONVENIO"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoPaginadoDuplicataRede"
                }
              }
            }
          }
        },
        "x-mcp": {
[...]
